body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

 img {
     width: 200px;
     height: 200px;
 }

  .header {
    height: 52px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
  }
  
  .logo {
      font-size: 24px;
      font-weight: bolder;
      color: #f9faf8;
  }

  .links {
      font-size: 18px;
      color: #e5e7eb;
      margin: 10px;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
  }

  .flex-item {
      display: flex;
      margin: 10px;
  }

  .one {
      background-color: #1F2937;
      display: flex;
      flex: 1;
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 200px;
      padding-right: 200px;    
  }

  .top {
      font-size: 48px;
      font-weight: bolder;
      color: #f9faf8;
  }

  .middle {
      font-size: 18px;
      color: #E5E7EB;
  }

  .button {
      font-size: 16px;
      font-weight: bold;
      background-color: #3882F6;
      color: #f9faf8;
      padding: 5px;
      border-radius: 8px;
      width: 130px;
      height: 40px;
      margin: 10px;
  }

  .left {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-right: 10px;
  }

.glider {
    width: 400px;
    height: auto;
}

 .body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.two {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
  
.container {
    display: flex;
    flex: auto;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.item {
    color: rgb(95, 95, 95);
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin: 10px;
    max-width: 200px;
}

.box {
    background-color: #E5E7EB;
    padding: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937; 
}

.quote2 {
    font-size: 26px;
    font-weight: bold;
    color: #1F2937;
    margin-left: 500px;
    
}

.blue-box {
    background-color: #3882F6;
    padding: 54px;
    margin: 120px;
    color: #f9faf8;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.call {
    font-size: 22px;
    font-weight: bold;
}

.sign {
      font-size: 16px;
      font-weight: bold;
      background-color: #3882F6;
      color: #f9faf8;
      padding: 2px; 
      border-radius: 8px;
      border-color: white;
      border-width: 2px;
      width: 120px;
      height: 35px;
}

  .footer {
    height: 72px;
    background: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
